{# {% load render_bundle from webpack_loader %} #}
{% load staticfiles %}
<html>
	<title></title>
	<link rel="icon" type="image/png"  href="{% static 'images/favicon.png' %}" />
	<link href="{% static 'client/css/chat.css' %}" rel="stylesheet">
	<link href="{% static 'client/css/flexboxgrid.min.css' %}" rel="stylesheet">
	<body>
		<div id="container"></div>
		<script>
		  var WebFontConfig = {
		    google: { families: [ 'Roboto:400,300,500:latin' ] }
		  };
		  (function() {
		    var wf = document.createElement('script');
		    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
		    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		    wf.type = 'text/javascript';
		    wf.async = 'true';
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(wf, s);
		  })();
		</script>
		<script src='{% static "client/js/dist/main-e0ae5f372b09682c6190.client.js" %}'></script>
		{# {% render_bundle 'main' config='CHAT_PROD' %} #}
	</body>
</html>