#container {
  margin: -10px;
}

#container a.logOut {
  text-decoration: none;
  color: inherit;
}

body {
	font-family: Roboto;
}

.loader {
    width: 100%;
    height: 100%;
    z-index: 1103;
    position: absolute;
    background-color: #fff;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.chatBox {
  /*margin: 20px;*/
}

.messages-container {
  margin: 20px;
  margin-bottom: 100px;
}

.text-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
  background: #fff;
}

.message {
  padding: 10px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
  display: inherit;
  line-height: 20px;
  max-width: 600px;
  background-color: rgba(0,128,0,0.21);
  /*font-size: 12px;*/
}

.message-container {
  width: 100%;
  display: inline-block;
}

.message.sent {
  background-color: rgba(0,128,0,0.21);
  float: right;
}

.received {
  background-color: rgba(66,66,72,0.15);
  float: left;
}

.message.received .time {
  float: left;
  color: gray;
}
.message.sent .time {
  float: right;
  color: gray;
}